{% extends "base_build.html" %}

{% block content %}
<div class="row">
    <div class="col">

        {% if bio.profile_picture %}
        <img src="{{ bio.profile_picture.url }}" style="height: auto; border-radius: 200px;" width="260" height="260" alt="{{ bio.first_name }}">
        {% else %}
        <p>No profile picture available.</p>
        {% endif %}

        <p>First Name: {{ bio.first_name }}</p>
        <p>Last Name: {{ bio.last_name }}</p>
        <p>About Me: {{ bio.about_me }}</p>
        
    
        {% if social_links %}
        <h2>Social Links</h2>
        <p>LinkedIn: <a href="{{ social_links.linkedin }}">{{ social_links.linkedin }}</a></p>
        <p>GitHub: <a href="{{ social_links.github }}">{{ social_links.github }}</a></p>
        <p>Twitter: <a href="{{ social_links.twitter }}">{{ social_links.twitter }}</a></p>
        {% else %}
        <p>No social links available.</p>
        {% endif %}

        <a href="{% url 'profile_update' bio.pk %}">Edit Profile</a>
    </div>
    <div class="col">
        {% if cv and cv.file %}
        <h2>CV</h2>
        <a href="{{ cv.file.url }}">View CV</a>
        <a href="{% url 'cvupload' %}">Reupload</a>
        {% else %}
        <p>No CV available.</p>
        <a href="{% url 'cvupload' %}">Upload CV</a>
        {% endif %}

        <h2>Projects</h2>
        {% if projects %}
        <ul>
            {% for project in projects %}
            <li>{{ project.name }}: {{ project.description }}</li>
            {% endfor %}
        </ul>
        <a href="{% url 'projectupload' %}">Upload a project</a>
        {% else %}
        <p>No projects available.</p>
        <a href="{% url 'projectupload' %}">Upload a project</a>
        {% endif %}
    </div>
</div>
{% endblock %}