{% extends "base_build.html" %}
{% load static %}
{% block content %}
<div class="container-fluid">
    <!-- Profile Section -->
    <div class="row mt-5 row-cols-1 row-cols-md-2 row-cols-lg-3">
        <div class="col-auto text-center">
            {% if bio.profile_picture %}
            <img src="{{ bio.profile_picture.url }}" class="rounded-circle profile-picture" alt="{{ bio.first_name }}">
            {% else %}
            <p>No profile picture available.</p>
            {% endif %}
            <h2>{{ bio.first_name }} {{ bio.last_name }}</h2>
            <p class="text-muted">{{ bio.about_me }}</p>
            <p class="text-muted">{{ bio.location }}</p>
            <p class="text-muted">{{ bio.role }}</p>
            <button class="btn btn-outline-primary mt-3">Edit Profile</button>
        </div>

        <div class="col-md-auto">
            {% if contact_info %}
            <h3>Contact Information</h3>
            <p><i class="fa fa-envelope"></i> {{ contact_info.email }}</p>
            <p><i class="fa fa-phone"></i> {{ contact_info.phone_number }}</p>
            {% endif %}

            {% if social_links %}
            <h3>Social Links</h3>
            <div class="social-links">
                {% for link in social_links %}
                <a href="{{ link.url }}" class="btn btn-outline-secondary social-icon" target="_blank">
                    {% if link.platform == "linkedin" %}
                    <i class="fab fa-linkedin"></i>
                    {% elif link.platform == "instagram" %}
                    <i class="fab fa-instagram"></i>
                    {% elif link.platform == "facebook" %}
                    <i class="fab fa-facebook-square"></i>
                    {% elif link.platform == "github" %}
                    <i class="fab fa-github"></i>
                    {% elif link.platform == "twitter" %}
                    <i class="fab fa-twitter"></i>
                    {% endif %}
                </a>
                {% endfor %}
                <button class="btn btn-outline-secondary social-icon"><i class="fa fa-plus"></i></button>
            </div>
            {% endif %}
        </div>

        
    </div>

    <hr class="my-5">

    <!-- Projects Section -->
    <div class="row">
        <div class="col">
            <h2>Projects</h2>
            <div class="row row-cols-1 row-cols-md-3 row-cols-lg-4 g-4">
                {% if projects %}
                {% for project in projects %}
                <div class="col-md-4">
                    <div class="card card-blog">
                        <div class="card-img">
                            <a href="#"><img src="{%static 'assets/img/post-1.jpg'%}" alt="" class="img-fluid"></a>
                        </div>
                        <div class="card-body">
                            <div class="card-category-box">
                                <div class="card-category">
                                    <a href="#">
                                        <h6 class="category">View</h6>
                                    </a>
                                </div>
                                <div class="card-category">
                                    <a href="{% url 'projectedit' project.pk %}" class="">
                                        <h6 class="category">Edit</h6>
                                    </a>
                                </div>
                            </div>
                            <h3 class="card-title">{{project.name}}</h3>
                            <p class="card-description">
                                {{project.description}}
                            </p>
                        </div>
                    </div>
                </div>
                {% endfor %}
                <div class="col-md-4">
                    <div class="card card-blog">
                        <div class="card-img">
                            <a href="#"><img src="{%static 'assets/img/post-1.jpg'%}" alt="" class="img-fluid"></a>
                        </div>
                        <div class="card-body">
                            <div class="card-category-box">
                                <div class="card-category">
                                    <a href="{% url 'projectupload' %}">
                                        <h6 class="category">Upload</h6>
                                    </a>
                                </div>
                            </div>
                            <h3 class="card-title">...</h3>
                            <p class="card-description">
                                Upload a new project...
                            </p>
                        </div>
                    </div>
                </div>
                {% else %}
                <div class="col">
                    <div class="card h-100 text-center">
                        <div class="card-body">
                            <h5 class="card-title">No projects available...</h5>
                            <a href="{% url 'projectupload' %}" class="btn btn-primary">Upload a Project</a>
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>

    <hr class="my-5">

    <!-- Stacks and Services Section -->
    <div class="row">
        <div class="col justify-content-center">
            <h2 class="text-center ">Your Services</h2>
            {% if services %}
            <ul class="list-group">
                {% for service in services %}
                <li class="list-group-item">
                    <h5>{{ service.name }}</h5>
                    <p>{{ service.description }}</p>
                </li>
                {% endfor %}
                <a href="{% url 'services' %}" class="btn btn-outline-primary mt-2">Add Services</a>
            </ul>
            {% else %}
            <p>No Services yet.</p>
            <a href="{% url 'services' %}" class="btn btn-outline-primary mt-2">Add Services</a>
            {% endif %}
        </div>
        <div class="col mt-2">
            <h2 class="text-center">Your Stacks</h2>
            {% if stacks %}
            <ul class="list-group">
                {% for stack in stacks %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    {{ stack.name }}
                    <span class="badge bg-primary rounded-pill">{{ stack.mastery_level }}</span>
                </li>
                {% endfor %}
                <a href="{% url 'stacks' %}" class="btn btn-outline-primary mt-2">Add Stacks</a>
            </ul>
            {% else %}
            <p>No Stacks yet.</p>
            <a href="{% url 'stacks' %}" class="btn btn-outline-primary mt-2">Add Stacks</a>
            {% endif %}
        </div>
    </div>
</div>


{% endblock %}